@import "bootstrap";

.red {
  background: red;
}
.yellow {
  background: yellow;
}
.green {
  background: green;
}
.brown {
  background: brown;
}
.blue {
  background: blue;
}
.pink {
  background: pink;
}
.black {
  background: black;
}
